
/* App.css */

/* Top Navigation Bar */
.top-nav {
 height: 55px;
 background-color: white !important;
 -webkit-box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
 -moz-box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
 box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
padding: 0px;
padding-right: 10px;
text-align: center;
}

.h1{
  text-align: center;
}
